{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Créer un souhait{% endblock %}

{% block body %}
    <div class="container">
        <div id="form">
            {{ form_start(wishForm) }}

            {{ form_widget(wishForm) }}

            <button>Créer</button>
            {{ form_end(wishForm) }}</div>

        <a href="{{ path('wish_list') }}"><button>Retour</button></a>

    </div>
{% endblock %}

