{% extends 'base.html.twig' %}
{% block body %}
<div>
    <h1>{{ wish.title }}</h1>
    Catégorie: {{ wish.category.name }}.

    <h2>Description : </h2>
    <p>{{ wish.description }}</p>

    <p>De {{ wish.author }} le {{ wish.dateCreated |date('d/m/Y') }}</p>

    <a href="{{ path ('wish_list') }}"><button>Retour</button></a>
    <button>Supprimer</button>
    {% endblock %}

    {% block title %}
    {{ parent() }} | {{ wish.title }}
    
{% endblock %}